*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color:#c9dbe64d ;
    font-weight: 400;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    margin-left: 13%;
    margin-top:2%;
}
.items{
    display: flex;
    padding:1%;
    margin-top: -3.7%;
    margin-left: 50%;
    color:#7d778d;
    font-weight: bolder;
}
.nav-item{
    padding:2%;
}
.nav-btn{
    background-color: #372865;
    border:none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    width:9em;
    padding:11%;
    margin-top:-10%;
}
.nav-btn:hover,.content-btn:hover{
   background-color: #7F3D84;
}
#hamburger-icon{
    display: none;
    margin: auto ;
    cursor: pointer;
}
.hamburger{
    width:20px;
    height:20px;
    fill:#271c49;
}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.mobile-menu{
    display:none;
    position: absolute;
    padding-top: 10%;
    background-color:hsl(0, 0%, 100%);
    top:90px;
    left:40px;
    height:20rem;
    width:78%;
  
}

ul{
    list-style: none;
}
.mobile-menu a {
    text-decoration: none;
   margin-left:-25%;
   color: hsl(213, 9%, 39%) ;
}
.mobile-menu li{
    font-size: 18px;
    padding-bottom: 8%;
    text-align: center;
}
.main-content{
    display: table;
    margin-top: 5%;
   margin-left: 13%;
}
.content,.image{
    float: left;
    width:50%;
 }

 img{
    width:340px;
    height: 410px;
}
 
h1{
    font-weight: 700;
    color:#271c49;
    font-size: 45px;
}
.content-p{
    width:90%;
    color:#515053;
}
.input{
    display: flex;
    flex-direction: row;
}
.learn-more{
    background-color: #372865;
    font-size: 16px;
    border:none;
    color:#d1c7eb;
    padding:2% 4%;
    border-radius: 30px;
}
a{
    color: #e4e0ee;
}
input{
    padding:2%;
    width:45%;
    border-color:#e3def0;
    border-style:solid;
}
.content-btn{
    background-color:#372865;
    border:none;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    width:9em;
    padding:2%;
    margin-left: 1%;
}

footer{
    margin-left:13%;
}
.footer-p{
    font-weight: bolder;
    color:#615e68;
}
.footer-row{
    display: flex;
    flex-wrap:wrap;
}

.icon{
    padding:8px;
}

@media (max-width:710px) {
    main{
        width:100%;
        margin-top: 5%;
    }
    nav{
        display: none;
    }
    h1{
        font-size: 32px;  
        text-align: center;
        width:90%;
    }
   .image{
       display:none;
   } 
   #hamburger-icon {
    display: block;
    float:right;
    margin-top: -7%;
    margin-right: 34px;
  }
  .content{
      width:100%;
      text-align: center;
  }
  .learn-more{
      width:90%;
      margin-top: 10%;
      margin-left:-16%;
      padding:4% 6%;
  }
  .input{
    display: flex;
    flex-direction: column;
    width:100%;
}
input,.content-btn{
    width:100%;
    padding:5%;
    margin-left:-8%;
    margin-top: 3%;
}
  footer{
    margin-left:2%;
}
.footer-p{
    margin-left:5% ;
}
}

@media (min-width:710px) and (max-width:900px) {
    main{
        width:100%;
        margin-top: 5%;
    }
    nav{
        display: none;
    }
    h1{
        font-size: 50px;  
        text-align: center;
        width:70%;
    }
   .image{
       display:none;
   } 
   #hamburger-icon {
    display: block;
    float:right;
    margin-top: -7%;
    margin-right: 34px;
  }

  .mobile-menu li{
      padding-bottom: 15px;
  }
  .nav-btn{
      margin-top: 5px;
  }
  .content{
      width:100%;
      text-align: center;
  }
  .content-p{
    font-size:20px ;
  } 
  .learn-more{
      width:70%;
      margin-top: 10%;
      margin-left:-16%;
    
  }
  .input{
    display: flex;
    flex-direction:row;
    width:100%;
}
input,.content-btn{
    width:50%;
    padding:3%;
    
    margin-top: 3%;
}
.content-btn{
    margin-left: 3%;
    width:20%;
}
  footer{
    margin-top: 8%;
    margin-left:15%;
}

}